<div class="blacklist-component">
	<h1>Website Blacklist</h1>
	<h2>Websites that should <strong>not</strong> be affected</h2>

	<form name="$ctrl.form" novalidate>
		<input
			type="text"
			name="url"
			ng-model="$ctrl.newUrl.val"
			ng-keyup="$ctrl.onKeyup($event)"
			ng-trim="false"
			ng-pattern="/^[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)$/"
			placeholder="Type a word"
			required />

		<span ng-show="$ctrl.newUrl.isValid === false">
			Word Error:
			<span ng-show="$ctrl.form.url.$error.required">Required</span>
			<span ng-show="$ctrl.form.url.$error.pattern">Invalid character</span>
		</span>
	</form>

	<div ng-repeat="url in $ctrl.list track by $index">
		{{url}} <br />
		<input
			type="button"
			value="remove"
			ng-click="$ctrl.update({type: 'remove', data: $index })" />
	</div>
</div>
