@import '../../scss/mixins';
@import '../../scss/colors';

.main-view {
    .blacklist-component {
        margin-top: 50px;
    }

    .toggle-component {
        margin-bottom: 50px;
        text-align: center;
    }
}
