$brand-white: #fff;
$brand-white-faded-1: rgba($brand-white, 0.9);
$brand-white-faded-2: rgba($brand-white, 0.25);

$brand-black: #000;
$brand-black-faded-1: rgba($brand-black, 0.9);
$brand-black-faded-2: rgba($brand-black, 0.25);

$brand-gray: #ccc;

$brand-blue: #498FFF;
$brand-blue-darker: darken($brand-blue, 10%);
$brand-blue-lighter: lighten($brand-blue, 10%);

$brand-green: #27C998;

$brand-purple: #7564FF;

$brand-red: #FF8181;
