$brand-white: #fff;
$brand-white-faded-1: rgba($brand-white, 0.9);
$brand-white-faded-2: rgba($brand-white, 0.25);

$brand-black: #000;
$brand-black-faded-1: rgba($brand-black, 0.9);
$brand-black-faded-2: rgba($brand-black, 0.25);

$brand-purple: #7564FF;
