@import 'scss/mixins';
@import 'scss/colors';

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
*:focus { outline: none; }

body {
	padding: 0;
	margin: 0;

	background: $brand-white;
	color: $brand-black;
	font: 16px/1.4 'Roboto Slab', serif;
}

.app {
	margin: 30px auto;
	padding: 0 30px;
	width: 560px;
}

h1,
.h1 {
	display: block;

	margin: 0;
	padding: 0;

	font-size: 20px;
	font-weight: 400;
	text-align: left;
}

h2,
.h2 {
	display: block;

	margin: 0;
	padding: 0;

	font-size: 16px;
	font-weight: 400;
	text-align: left;

	color: $brand-black-faded-2;
}

.weight {
	&-thin {
		font-weight: 100;
	}
	&-light {
		font-weight: 300;
	}
	&-regular {
		font-weight: 400;
	}
	&-bold {
		font-weight: 700;
	}
}

.formInput {
	margin-bottom: 10px;

	&-input {
		display: block;
		width: 200px;
		padding: 5px 0;

		border: 0;
		border-bottom: 2px solid $brand-black-faded-2;
		font-size: 20px;
		font-weight: 400;

		&:focus {
			border-bottom-color: $brand-black-faded-1;
		}
	}

	&-help {
		display: block;
		height: 15px;
		width: 100%;
		margin-top: 3px;

		color: $brand-black-faded-2;
		font-size: 12px;
	}

	&-error {
		display: block;
		height: 15px;
		width: 100%;
		margin-top: 3px;

		color: $brand-red;
		font-size: 12px;
	}
}
